<div class="container">
    <form [formGroup]="gestionarClienteForm">
        <h1>Gestionar Cliente</h1>
        <hr>

        <div class="row">
            <div class="col-6">
                <label for="nombreComic">Nombre:</label>
                <input type="text" class="form-control" id="nombreComic" formControlName="nombre"
                    [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" maxlength="50">
                <div *ngIf="submitted && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">Campo requerido.</span>
                </div>
            </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="tipoDocumento">Tipo Documento:</label>
                    <select class="form-control" id="tipoDocumento" formControlName="tipoDocumento">
                        <option value="TARJETA_DE_IDENTIDAD">TARJETA DE IDENTIDAD</option>
                        <option value="CEDULA_DE_CIUDADANIA">CEDULA DE CIUDADANIA</option>
                        <option value="CEDULA_DE_EXTRANGERIA">CEDULA DE EXTRANGERIA</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <label for="documento">Documento:</label>
                <input type="text" class="form-control" id="documento" formControlName="documento">
            </div>
        </div>

            <div class="col-6">
                <label for="fechaNac">Fecha:</label>
                <input type="number" class="form-control" id="fechaNac" step=".01" formControlName="fechaNac">
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" (click)="crearActualizarCliente()">Agregar cliente</button>                
            </div>
        </div>

        <br>
        
        <div class="row" [hidden]="listaClientes.length === 0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo Documento</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha Nacimiento</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <!--date:"MM/dd/yy"
                        | uppercase-->
                        <tr *ngFor="let cliente of listaClientes;let i=index;">
                            <th scope="row">{{cliente.id}}</th>
                            <td>{{cliente.nombre | uppercase }}</td>
                            <td>{{cliente.tipoDocumento | lowercase }}</td>
                            <td>{{cliente.documento | number: '.2'}}</td>                            
                            <td>{{cliente.fecha}}</td>
                            <td>
                                <i class="fas fa-search 2x ml-1" (click)="mostrarCliente(comic)" title="Consultar"></i>
                                <i class="fas fa-pencil-alt 2x ml-1"   title="Editar"></i>
                                <i class="far fa-times-circle 2x ml-1" title="Eliminar"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>